@model ConfigurationViewModel

@{
    ViewData["Title"] = "Update";
}

<h2>Config Güncelleme</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label for="nameInput">Config adı:</label>
                <input type="text" class="form-control" id="nameInput" asp-for="Name">
            </div>
            <div class="form-group">
                <label for="typeSelect">Config tipi:</label>
                <select class="form-control" id="typeSelect" asp-for="Type">
                    <option>String</option>
                    <option>Integer</option>
                    <option>Boolean</option>
                    <option>Double</option>
                </select>
            </div>
            <div class="form-group">
                <label for="valueInput">Config değeri:</label>
                <input type="text" class="form-control" id="valueInput" asp-for="Value">
            </div>
            <div class="form-group">
                <label for="applicationNameInput">Application name:</label>
                <input type="text" class="form-control" id="applicationNameInput" asp-for="ApplicationName">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="isActiveCheck" asp-for="IsActive">
                <label class="form-check-label" for="isActiveCheck">Aktif olsun mu?</label>
            </div>
            <button type="submit" class="btn btn-primary">Güncelle</button>
        </form>
    </div>
</div>

